<div>
    <h3 class="one-card-title">Наименование</h3>
    <p class="cart-text">Код товара</p>
    <div>
        <img src="./images/Rectangle 7.jpg" alt="">
    </div>
    <div>
        <h3 class="one-card-title">Цена</h3>
        <button>Информация о продавце</button>
        <P class="cart-text">В избранное
            <i class="material-icons">favorite_border</i>
        </P>
        <P class="cart-text">Поделиться
            <i class="material-icons">device_hub</i>
        </P>
        <P class="cart-text">Описание:</P>
        <p class="card-description">Описание товара</p>
    </div>

</div>