$primary-color: #000000;
$secondary-color: #878686;
$background-color: #e5e5e5; /*кроме модалок*/
$white-text: #ffffff;
$modal-text: #bbbbbb;
$accent-orange: #ff6b09;
$accent-grey: #f5f6fb;
$container-edge-color: #e2e3e5; /*линия на пересечении границ контейнеров*/

$font-family: 'Montserrat', sans-serif;
$font-family: 'Roboto', sans-serif;
