.one-card-title {
  margin-bottom: 6px;
  font-family: Roboto;
  font-style: Medium;
  font-size: 18px;
  line-height: 21px;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 2%;
  fill: Solid #000000;
}
.cart-text {
  font-family: Roboto;
  font-style: Light;
  font-size: 12px;
  line-height: 14px;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 2%;
  fill: Solid #878686;
}
.card-description {
  font-family: Roboto;
  font-style: Light;
  font-size: 12px;
  line-height: 14px;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 2%;
  fill: Solid #000000;
}
